
body{
    background-color: #000000;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#161616 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #161616 2px, #000000 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}









